body {
        font-family: "Trebuchet MS", sans-serif;
        text-align: center;
        background: linear-gradient(135deg, #00d9ffff, #ffd000ff);
        color: white;
        height: 100vh;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.5s ease;
        z-index: 1;
      }
     .clock {
      z-index: 1;
      position: fixed;
      bottom: 250px;
      left: 50%;
      text-align: center;
      white-space: nowrap;
      transform: translateX(-50%);
     }
     #sounder {
      z-index: 5;
      background: linear-gradient(135deg, rgb(255, 0, 0), #ffd000ff);
      position: fixed;
      top: 10px;
      left: 25%;
      text-align: center;
      border-radius: 15px;
      font-size: 2em;
      transform: translateX(-50%);
     }
     .date {
      z-index: 1;
      position: fixed;
      bottom: 160px;
      left: 50%;
      text-align: center;
      white-space: nowrap;
      transform: translateX(-25%);
     }
      h1 {
        margin-left: 280px;
        font-size: 12em;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
        margin-bottom: 0px;
        z-index: 1;
        
      }
    p {
        font-size: 3em;
        margin-left: 280px;
        z-index: 1;
      }
      .alert {
  position: fixed;        /* stays on screen */
  top: 0;
  left: 0;

  border-radius: 20px;
  border: 5px solid #000;

  width: 280px;
  height: 100vh;          /* full screen height */

  background: linear-gradient(135deg, #ffffffff, #656565ff);
  color: black;

  padding: 20px;
  box-sizing: border-box;

  overflow-y: auto;       /* scroll if content gets long */
  z-index: 1;
  font-family: Arial, sans-serif;
}

.alert p {
  margin: 0 0 12px 0;     /* space between lines */
  font-size: 16px;
  border-radius: 10px;
  display: block;
  border: 5px solid #ff0000ff;
  padding: 12px 16px;
  z-index: 1;
}
.foreground {
  
  position: fixed;
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%) scale(1);

  z-index: 0;

  text-align: center;

}
.effect {
  
  position: fixed;
  bottom: 150;
  left: 50%;
  transform: translateX(-50%) scale(10);
  
  z-index: 5;

  text-align: center;

} 
#bd {
  display: none;
} 
#sleep {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: black;
  display: block;     
  z-index: 10;
  transition: opacity 1s;     
}

.weather {
 position: fixed;        /* stays on screen */
  top: 0;
  left: 80%;
  transform: translateX(-50%);
  border-radius: 20px;
  border: 5px solid #005eff;

  width: 400px;
  height: 200px;          

  background: linear-gradient(135deg, rgb(255, 166, 0), rgb(157, 0, 255));
  color: black;

  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  z-index: 1;
  font-family: Arial, sans-serif;
} 
#wtxt {
 margin: 0 0 0 0;     /* space between lines */
  font-size: 25px;
  
  display: block;
  
  
  z-index: 1;
}
#wpic {
  margin: 0 0 6px 0;     /* space between lines */
  width: 100px;
  height: 100px;
  
  display: block;
  
  
  z-index: 1;
}
 /*.amessage {
 position: fixed;        
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  border: 5px solid #ff0000;

  width: 400px;
  height: 200px;          

  background: #ffffff;
  color: black;

  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
align-items: center;
justify-content: center;
  z-index: 1;
  font-family: Arial, sans-serif;
} 
#ap {
 margin: 0 0 0 0;     
  font-size: 25px;
  
  display: block;
  
  
  z-index: 1;
} */

    